@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background: #dda8a1;
  font-family: 'Poppins';
  padding: 1.7rem;
  overflow-y: auto;
}

.form-container {
  background-color: #f7e2e2;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1.5rem; */
}

.header img {
  width: 120px;
  height: auto;
  /* margin-bottom: 0.8rem; */
}

.app-name {
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #4d3e3e;
  margin-bottom: 1rem;
}

.form-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: #4d3e3e;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.input-field {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #cdd4d7;
  border-radius: 12px;
  padding: 0.9rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

.input-field::placeholder {
  color: #1A1C1E;
}

.input-field:focus {
  border-color: #ea2d0c;
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 75, 43, 0.2);
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: #6C7278;
}


.checkbox {
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.checkbox:checked {
  background-color: #4D81E7;
  border-color: #4D81E7;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.forgot {
  font-family: 'Poppins', sans-serif;
  color: #4D81E7;
  text-decoration: none;
  font-weight: bold;
}

.forgot:hover {
  text-decoration: underline;
}

.submitbutton {
  font-family: 'Inter', sans-serif;
  background: #FF1B64;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
  font-weight: bold;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: #555;
  margin-top: 1rem;
}

.footer-text a {
  font-family: 'Poppins', sans-serif;
  color: #4D81E7;
  font-weight: bold;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}
.submitbutton2{
  font-family: 'Inter', sans-serif;
  background: #FF1B64;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
  font-weight: bold;
  margin-top: 30px;
}